html, body{
    margin: 0;
    padding: 0;
}

.acpr-1-1, .acpr-1-2,.acpr-1-3,.acpr-2-1,.acpr-2-2,.acpr-2-3 {
    display: none;
}

.tab-panel-2,.tab-panel-3{
    display: none;
}

.tab-panel-1.active{
 display: block;
}

.accordian-1, .accordian-2{
    display: inline-block;
}